{% extends 'banknet/base.html' %}

{% block content %}
    <h1>Нейронная сеть Кохонена</h1><hr>
    <p class="lead">Нейронные сети Кохонена — класс нейронных сетей, основным элементом которых является слой Кохонена. Слой Кохонена состоит из адаптивных линейных сумматоров («линейных формальных нейронов»). Как правило, выходные сигналы слоя Кохонена обрабатываются по правилу «Победитель получает всё»: наибольший сигнал превращается в единичный, остальные обращаются в ноль.</p>
    <p class="lead">По способам настройки входных весов сумматоров и по решаемым задачам различают много разновидностей сетей Кохонена. Наиболее известные из них:</p>
    <ol class="lead">
        <li>Сети векторного квантования сигналов, тесно связанные с простейшим базовым алгоритмом кластерного анализа (метод динамических ядер или K-средних);</li>
        <li>Самоорганизующиеся карты Кохонена (англ. self-organising maps, SOM);</li>
        <li>Сети векторного квантования, обучаемые с учителем (англ. learning vector quantization).</li>
    </ol>
    <br>
    <h2>Кредитный рейтинг</h2>
    <hr>
    <p class="lead">Мера кредитоспособности частного лица (кредитный скоринг), компании, региона или страны. Кредитные рейтинги рассчитываются на основе прошлой и текущей финансовой истории вышеперечисленных участников рынка, а также на основе оценок размера их собственности и взятых на себя финансовых обязательств (долгов). Основное предназначение подобных оценок — дать потенциальным кредиторам / вкладчикам представление о вероятности своевременной выплаты взятых финансовых обязательств. В последнее время расширилась и сфера применения кредитных рейтингов: они стали применяться и для установления новых размеров страховых взносов, для определения арендных залогов, определения качества новых кандидатов при приёме их на работу.</p>
{% endblock content %}
